
<div style="width:85%;margin:auto;">
<h5>Update this activity</h5>

{{md-input value=activityDescription label='Activity description' class="col s12" validate=true}}

{{md-input value=extraInformation label='Extra Information' class="col s12" validate=true}}

{{md-btn action='updateActivity'
	text='Update' 
	buttonType='flat'
	class=buttonClass}}


{{md-btn action='Cancel'
	text='Cancel' 
	buttonType='flat'
	class=buttonClass}}

</div>
{{outlet}}


