<div class="row">
  <div class="col s12">
  <p>Do you want to use a quick list?
    {{md-switch checked=switchValue}}</p>
  </div>
</div>

{{#if switchValue}}

<div class="row">
  {{md-select content=activityDescriptions
    value='namex'
    label="Activity"
    prompt="Please choose..." class="col s12"}}
</div>

{{else}}

<div class="row">
  {{md-textarea label='Activity'
    value=activityDescription class="col s12"}}
</div>

{{/if}}

<div style='margin:0;padding:0;width:100%;display:inline-block;'>
<table style='margin:auto;color:grey;width:85%;'><tr><td>{{currentTime}}</td><td>

{{#if trackingActivity}}
{{#md-btn action='stopActivity'
	buttonType='flat'
	class=buttonColor
	wavesClass='waves-dark'}}
	Stop Activity
{{/md-btn}}
<div style="width:10px; height:10px; display:inline;"></div>
{{#md-btn action='cancelActivity'
	buttonType='flat'
	class=buttonColor
	wavesClass='waves-dark'}}
	Cancel Activity
{{/md-btn}}
{{else}}
{{#md-btn action='startActivity'
	buttonType='flat'
	class=buttonColor
	wavesClass='waves-dark'}}
	Start Activity
{{/md-btn}}
{{/if}}

</td></tr></table>
</div>

{{outlet}}
